# AirBNB NYC Property Clustering - Preprocessing

## Springboard Data Science Track - Third Capstone - Travis Martin

In [88]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import seaborn as sns
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA
from sklearn.metrics import silhouette_score, adjusted_rand_score
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

In [89]:
df_NYC = pd.read_csv('D://Springboard/ThirdCapstone/RawData/EDA_df.csv')
df_NYC.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16242 entries, 0 to 16241
Data columns (total 89 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       16242 non-null  float64
 1   log_price                16242 non-null  float64
 2   property_type            16242 non-null  object
 3   accommodates             16242 non-null  float64
 4   bathrooms                16242 non-null  float64
 5   bed_type                 16242 non-null  object
 6   cancellation_policy      16242 non-null  object
 7   cleaning_fee             16242 non-null  int64
 8   host_has_profile_pic     16242 non-null  int64
 9   host_identity_verified   16242 non-null  int64
 10  host_response_rate       16242 non-null  float64
 11  instant_bookable         16242 non-null  int64
 12  latitude                 16242 non-null  float64
 13  longitude                16242 non-null  float64
 14  neighbourhood            16242 non-null  object
 15  number_of_reviews        16242 non-null  float64
 16  review_scores_rating     16242 non-null  float64
 17  zipcode                  16242 non-null  int64
 18  bedrooms                 16242 non-null  float64
 19  beds                     16242 non-null  float64
 20  AC                       16242 non-null  int64
 21  WiFi                     16242 non-null  int64
 22  Office                   16242 non-null  int64
 23  Kids                     16242 non-null  int64
 24  Washer                   16242 non-null  int64
 25  Dryer                    16242 non-null  int64
 26  Elevator                 16242 non-null  int64
 27  24hr                     16242 non-null  int64
 28  BR_Lock                  16242 non-null  int64
 29  Self_CheckIn             16242 non-null  int64
 30  Pet_Friendly             16242 non-null  int64
 31  Doorman                  16242 non-null  int64
 32  Private_Ent              16242 non-null  int64
 33  Stove                    16242 non-null  int64
 34  Oven                     16242 non-null  int64
 35  Gym                      16242 non-null  int64
 36  Lockbox                  16242 non-null  int64
 37  Free_parking             16242 non-null  int64
 38  Breakfast                16242 non-null  int64
 39  Wheelchair               16242 non-null  int64
 40  Pets_on_prop             16242 non-null  int64
 41  Events                   16242 non-null  int64
 42  Fireplace                16242 non-null  int64
 43  Dishwasher               16242 non-null  int64
 44  Hot_tub                  16242 non-null  int64
 45  Long_term                16242 non-null  int64
 46  Darkening                16242 non-null  int64
 47  Pets                     16242 non-null  int64
 48  Luggage                  16242 non-null  int64
 49  Smoking                  16242 non-null  int64
 50  Keypad                   16242 non-null  int64
 51  Patio_Balcony            16242 non-null  int64
 52  Garden_backyard          16242 non-null  int64
 53  Private_LR               16242 non-null  int64
 54  Pool                     16242 non-null  int64
 55  Smart lock               16242 non-null  int64
 56  BBQ grill                16242 non-null  int64
 57  Crib                     16242 non-null  int64
 58  days_since_first_review  16242 non-null  int64
 59  avg_mthly_rev            16242 non-null  float64
 60  days_since_host_start    16242 non-null  int64
 61  has_url                  16242 non-null  int64
 62  desc_length              16242 non-null  int64
 63  name_length              16242 non-null  int64
 64  #_of_amenities           16242 non-null  int64
 65  big_words                16242 non-null  int64
 66  small_words              16242 non-null  int64
 67  pub_trans_words          16242 non-null  int64
 68  landmark_words           16242 non-null  int64
 69  nightlife_words          16242 non-null  int64
 70  business_words           16242 non-null  int64
 71  safety_words             16242 non-null  int64
 72  view_words               16242 non-null  int64
 73  updates_words            16242 non-null  int64
 74  cleanliness_words        16242 non-null  int64
 75  tourism_words            16242 non-null  int64
 76  relaxation_words         16242 non-null  int64
 77  family_words             16242 non-null  int64
 78  proximity_words          16242 non-null  int64
 79  romance_words            16242 non-null  int64
 80  luxury_words             16242 non-null  int64
 81  culture_words            16242 non-null  int64
 82  ease_words               16242 non-null  int64
 83  hip_words                16242 non-null  int64
 84  history_words            16242 non-null  int64
 85  nature_words             16242 non-null  int64
 86  retail_words             16242 non-null  int64
 87  negative_words           16242 non-null  int64
 88  borough                  16242 non-null  object
dtypes: float64(12), int64(72), object(5)
memory usage: 11.0+ MB

In [90]:
print(df_NYC['neighbourhood'].nunique())
print(df_NYC['zipcode'].nunique())

187
183

In order to run KMeans clustering on our dataset, we need to ensure that all columns are numerical. We'll then scale these measures during the actual modeling step to ensure that those with larger ranges don't have an outsized impact on the model.

From the .info() output above, we see that we still have several "object" datatype columns. which contain our categorical variables. We need to convert these to 0/1 dummy variable columns and remove the originals. 

One such column is 'neighbourhood', but it contains 187 unique neighbourhood names. This is approximately how many unique 'zipcode' entities there are (183), and they both indicate geographical positioning, so in the interest of not increasing dimensionality with 187 new dummy columns, we'll instead drop 'neighbourhood' and rely solely on 'zipcode'.

'id' is a unique identifier, but has no predictive value from a clustering perspective, so we can drop this measure as well.

In [91]:
df_NYC.drop(['neighbourhood'], axis=1, inplace = True)
df_NYC.drop(['id'], axis=1, inplace = True)

In [92]:
df_NYC['property_type'].value_counts()

Apartment             14187
House                   912
Loft                    339
Townhouse               297
Condominium             267
Other                   110
Timeshare                35
Guest suite              21
Bed & Breakfast          21
Guesthouse                9
Bungalow                  9
Boutique hotel            6
Boat                      6
Serviced apartment        6
Vacation home             5
Villa                     4
In-law                    3
Earth House               1
Yurt                      1
Cabin                     1
Hostel                    1
Chalet                    1
Name: property_type, dtype: int64

In [93]:
df_NYC.loc[df_NYC["property_type"] == 'Timeshare','property_type'] = 'Other'
df_NYC.loc[df_NYC["property_type"] == 'Guest suite','property_type'] = 'Other'
df_NYC.loc[df_NYC["property_type"] == 'Bed & Breakfast','property_type'] = 'Other'
df_NYC.loc[df_NYC["property_type"] == 'Guesthouse','property_type'] = 'Other'
df_NYC.loc[df_NYC["property_type"] == 'Bungalow','property_type'] = 'Other'
df_NYC.loc[df_NYC["property_type"] == 'Boutique hotel','property_type'] = 'Other'
df_NYC.loc[df_NYC["property_type"] == 'Boat','property_type'] = 'Other'
df_NYC.loc[df_NYC["property_type"] == 'Serviced apartment','property_type'] = 'Other'
df_NYC.loc[df_NYC["property_type"] == 'Vacation home','property_type'] = 'Other'
df_NYC.loc[df_NYC["property_type"] == 'Villa','property_type'] = 'Other'
df_NYC.loc[df_NYC["property_type"] == 'In-law','property_type'] = 'Other'
df_NYC.loc[df_NYC["property_type"] == 'Earth House','property_type'] = 'Other'
df_NYC.loc[df_NYC["property_type"] == 'Yurt','property_type'] = 'Other'
df_NYC.loc[df_NYC["property_type"] == 'Cabin','property_type'] = 'Other'
df_NYC.loc[df_NYC["property_type"] == 'Hostel','property_type'] = 'Other'
df_NYC.loc[df_NYC["property_type"] == 'Chalet','property_type'] = 'Other'

df_NYC['property_type'].value_counts()

Apartment      14187
House            912
Loft             339
Townhouse        297
Condominium      267
Other            240
Name: property_type, dtype: int64

In [94]:
df_NYC = pd.get_dummies(data=df_NYC, columns=['property_type', 'borough'], drop_first=True)

In [95]:
df_NYC['bed_type'].value_counts()

Real Bed         15994
Pull-out Sofa       98
Futon               90
Airbed              38
Couch               22
Name: bed_type, dtype: int64

In [96]:
df_NYC.loc[df_NYC["bed_type"] == 'Real Bed','bed_type'] = 1
df_NYC.loc[df_NYC["bed_type"] == 'Pull-out Sofa','bed_type'] = 0
df_NYC.loc[df_NYC["bed_type"] == 'Futon','bed_type'] = 0
df_NYC.loc[df_NYC["bed_type"] == 'Airbed','bed_type'] = 0
df_NYC.loc[df_NYC["bed_type"] == 'Couch','bed_type'] = 0
df_NYC.rename(columns={"bed_type": "real_bed"}, inplace=True)
df_NYC['real_bed'] = df_NYC['real_bed'].astype(int)
df_NYC['real_bed'].value_counts()

1    15994
0      248
Name: real_bed, dtype: int64

In [97]:
df_NYC['cancellation_policy'].value_counts()

strict             8284
flexible           4014
moderate           3934
super_strict_30       9
super_strict_60       1
Name: cancellation_policy, dtype: int64

In [98]:
df_NYC.loc[df_NYC["cancellation_policy"] == 'super_strict_30','cancellation_policy'] = 'strict'
df_NYC.loc[df_NYC["cancellation_policy"] == 'super_strict_60','cancellation_policy'] = 'strict'

df_NYC.loc[df_NYC["cancellation_policy"] == 'strict','cancellation_policy'] = 1
df_NYC.loc[df_NYC["cancellation_policy"] == 'moderate','cancellation_policy'] = 0
df_NYC.loc[df_NYC["cancellation_policy"] == 'flexible','cancellation_policy'] = -1

df_NYC['cancellation_policy'] = df_NYC['cancellation_policy'].astype(int)

df_NYC['cancellation_policy'].value_counts()

 1    8294
-1    4014
 0    3934
Name: cancellation_policy, dtype: int64

In [99]:
df_NYC.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16242 entries, 0 to 16241
Data columns (total 94 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   log_price                  16242 non-null  float64
 1   accommodates               16242 non-null  float64
 2   bathrooms                  16242 non-null  float64
 3   real_bed                   16242 non-null  int32
 4   cancellation_policy        16242 non-null  int32
 5   cleaning_fee               16242 non-null  int64
 6   host_has_profile_pic       16242 non-null  int64
 7   host_identity_verified     16242 non-null  int64
 8   host_response_rate         16242 non-null  float64
 9   instant_bookable           16242 non-null  int64
 10  latitude                   16242 non-null  float64
 11  longitude                  16242 non-null  float64
 12  number_of_reviews          16242 non-null  float64
 13  review_scores_rating       16242 non-null  float64
 14  zipcode                    16242 non-null  int64
 15  bedrooms                   16242 non-null  float64
 16  beds                       16242 non-null  float64
 17  AC                         16242 non-null  int64
 18  WiFi                       16242 non-null  int64
 19  Office                     16242 non-null  int64
 20  Kids                       16242 non-null  int64
 21  Washer                     16242 non-null  int64
 22  Dryer                      16242 non-null  int64
 23  Elevator                   16242 non-null  int64
 24  24hr                       16242 non-null  int64
 25  BR_Lock                    16242 non-null  int64
 26  Self_CheckIn               16242 non-null  int64
 27  Pet_Friendly               16242 non-null  int64
 28  Doorman                    16242 non-null  int64
 29  Private_Ent                16242 non-null  int64
 30  Stove                      16242 non-null  int64
 31  Oven                       16242 non-null  int64
 32  Gym                        16242 non-null  int64
 33  Lockbox                    16242 non-null  int64
 34  Free_parking               16242 non-null  int64
 35  Breakfast                  16242 non-null  int64
 36  Wheelchair                 16242 non-null  int64
 37  Pets_on_prop               16242 non-null  int64
 38  Events                     16242 non-null  int64
 39  Fireplace                  16242 non-null  int64
 40  Dishwasher                 16242 non-null  int64
 41  Hot_tub                    16242 non-null  int64
 42  Long_term                  16242 non-null  int64
 43  Darkening                  16242 non-null  int64
 44  Pets                       16242 non-null  int64
 45  Luggage                    16242 non-null  int64
 46  Smoking                    16242 non-null  int64
 47  Keypad                     16242 non-null  int64
 48  Patio_Balcony              16242 non-null  int64
 49  Garden_backyard            16242 non-null  int64
 50  Private_LR                 16242 non-null  int64
 51  Pool                       16242 non-null  int64
 52  Smart lock                 16242 non-null  int64
 53  BBQ grill                  16242 non-null  int64
 54  Crib                       16242 non-null  int64
 55  days_since_first_review    16242 non-null  int64
 56  avg_mthly_rev              16242 non-null  float64
 57  days_since_host_start      16242 non-null  int64
 58  has_url                    16242 non-null  int64
 59  desc_length                16242 non-null  int64
 60  name_length                16242 non-null  int64
 61  #_of_amenities             16242 non-null  int64
 62  big_words                  16242 non-null  int64
 63  small_words                16242 non-null  int64
 64  pub_trans_words            16242 non-null  int64
 65  landmark_words             16242 non-null  int64
 66  nightlife_words            16242 non-null  int64
 67  business_words             16242 non-null  int64
 68  safety_words               16242 non-null  int64
 69  view_words                 16242 non-null  int64
 70  updates_words              16242 non-null  int64
 71  cleanliness_words          16242 non-null  int64
 72  tourism_words              16242 non-null  int64
 73  relaxation_words           16242 non-null  int64
 74  family_words               16242 non-null  int64
 75  proximity_words            16242 non-null  int64
 76  romance_words              16242 non-null  int64
 77  luxury_words               16242 non-null  int64
 78  culture_words              16242 non-null  int64
 79  ease_words                 16242 non-null  int64
 80  hip_words                  16242 non-null  int64
 81  history_words              16242 non-null  int64
 82  nature_words               16242 non-null  int64
 83  retail_words               16242 non-null  int64
 84  negative_words             16242 non-null  int64
 85  property_type_Condominium  16242 non-null  uint8
 86  property_type_House        16242 non-null  uint8
 87  property_type_Loft         16242 non-null  uint8
 88  property_type_Other        16242 non-null  uint8
 89  property_type_Townhouse    16242 non-null  uint8
 90  borough_Brooklyn           16242 non-null  uint8
 91  borough_Manhattan          16242 non-null  uint8
 92  borough_Queens             16242 non-null  uint8
 93  borough_Staten Island      16242 non-null  uint8
dtypes: float64(11), int32(2), int64(72), uint8(9)
memory usage: 10.5 MB

We now have what we need, as all of our data is either of type int or type float. We can proceed to the modeling step, where we will scale our data, run the KMeans clustering model, and evaluate the results.